.numbers {
    
    display: inline-block;
    width: auto;
    
    font-family: 'gibson';
    color: rgba(0, 0, 0, 0.5);
    
    overflow: hidden;
    
    -webkit-filter: blur(0px);
}

.numbers .container {
    display: block;
    width: inherit;
    float: left;
    text-align: center;
}

.numbers .container .digit {
    display: block;
}